// =======================
// Global Buttons Styles
// =======================

$generate-classes: false !default;

@mixin button--base {
  @include paragraph(false);
  @include transition(background-color, color, border-color, transform);

  position: relative;
  display: inline-block;
  padding: calc-rem(6 12);
  border-width: 0;
  margin-bottom: calc-rem(16);
  color: $button-fc;
  font-weight: 700;
  font-family: $font-family--body;
  background-color: $button-bgc;
  background-clip: padding-box;
  outline: none;
  cursor: pointer;
  transition-duration: 200ms;
  appearance: none;
  text-rendering: optimizeLegibility;

  &::after {
    @include transition(border-top);

    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: rem(8) solid $black;
    border-right: rem(8) solid $transparent;
    border-left: rem(8) solid $transparent;
  }

  // stylelint-disable
  &:active,
  &:hover {
    background-color: $button-bgc--hover;
    transform: translate3d(0, #{rem(2)}, 0);

    &::after {
      border-top: rem(6) solid $black;
    }
  }
  // stylelint-enable

  &:active {
    background-color: $button-bgc--active;
    transform: translate3d(0, #{rem(8)}, 0);

    &::after {
      border-top: rem(0) solid $black;
    }
  }

  &:disabled {
    border-color: rgba($black, 0.1) !important;
    color: $white !important;
    background-color: rgba($black, 0.1) !important;
    box-shadow: none !important;
    cursor: not-allowed !important;
  }

  @include breakpoint(large) {
    padding: calc-rem(8 24);
    margin-bottom: rh(1);
  }
}
// -----------
// gray Button Mixin
@mixin button--gray {
  border-color: $button-gray-bc;
  color: $button-gray-fc;
  background-color: $button-gray-bgc;
  box-shadow: 0 0 0 0 $transparent;

  &:active,
  &:focus,
  &:hover {
    color: $button-gray-fc--hover;
    background-color: $button-gray-bgc--hover;
  }

  &:active {
    border-color: $button-gray-bc--active;
  }
}

// ---------
// Implementation
@if $generate-classes {
  .button,
  button {
    @include button--base;
  }

  .button--gray {
    @include button--gray;
  }
}
