// =======================
// Global Headlines Styles
// =======================

$generate-classes: false !default;

@mixin headline {
  display: block;
  font-weight: 700;
  color: $headline-fc;
}

@mixin headline--lvl1($box-model: true) {
  @include headline;

  font-family: $font-family--header;

  @include fluid(
    (
      font-size: (
        30,
        48
      )
    ),
    (medium, xlarge)
  );

  @if $box-model {
    @include fluid(
      (
        margin-bottom: (
          24,
          48
        )
      ),
      (medium, xlarge)
    );
  }
}

@mixin headline--lvl2($box-model: true) {
  @include headline;

  font-family: $font-family--subheadline;
  line-height: (28/26);

  @include fluid(
    (
      font-size: (
        26,
        30
      )
    ),
    (medium, xlarge)
  );

  @if $box-model {
    @include fluid(
      (
        padding-bottom: (
          6,
          12
        )
      ),
      (medium, xlarge)
    );
    @include fluid(
      (
        margin-bottom: (
          6,
          12
        )
      ),
      (medium, xlarge)
    );
  }
}

@mixin headline--lvl3($box-model: true) {
  @include headline;

  font-family: $font-family--body;
  font-size: rem(20);
  line-height: (24 / 20);

  @if $box-model {
    padding: 0 0 rh(0.125);
    margin: 0 0 rh(0.125);
  }
}

@mixin headline--lvl4($box-model: true) {
  @include headline;

  font-family: $font-family--subheadline;
  font-size: rem(20);
  line-height: (27 / 20);

  @if $box-model {
    padding: 0 0 rh(0.25);
    margin: 0 0 rh(0.25);
  }
}

// ---------
// Implementation
@if $generate-classes {
  .is-h1,
  h1 {
    @include headline--lvl1;
  }

  .is-h2,
  h2 {
    @include headline--lvl2;
  }

  .is-h3,
  h3 {
    @include headline--lvl3;
  }

  .is-h4,
  h4 {
    @include headline--lvl4;
  }
}
