// =======================
// Global Text Paragraphs Styles
// =======================

$generate-classes: false !default;

@mixin paragraph($box-model: true) {
  font-family: $font-family--body;
  font-weight: 400;
  font-size: rem(16);
  line-height: (21 / 16);
  color: $primary-font-color;

  @include fluid(
    (
      font-size: (
        16,
        20
      )
    ),
    (medium, xlarge)
  );

  @if $box-model {
    padding-bottom: rh(0.25);
    margin-bottom: rh(0.25);

    @include breakpoint(medium) {
      padding-bottom: rh(0.5);
      margin-bottom: rh(0.5);
    }

    @include breakpoint(xlarge) {
      margin-bottom: rh(1);
    }
  }
}

@mixin paragraph--small($box-model: true) {
  @include paragraph($box-model);

  line-height: (18 / 14);

  @include fluid(
    (
      font-size: (
        14,
        18
      )
    ),
    (medium, xlarge)
  );
}

@mixin paragraph--quote($box-model: true) {
  @include paragraph($box-model);

  font-size: rem(26);
  line-height: (34 / 26);
  font-weight: 700;
  color: $red-pome;
}

// ---------
// Implementation
@if $generate-classes {
  p {
    @include paragraph;

    &.small {
      @include paragraph--small;
    }

    &.quote {
      @include paragraph--quote;
    }
  }
}
