@import "./assets/scss/toolbelt";

.wrapper--affix-head {
  height: 255vh;
}

.content--affix-head {
  position: relative;
  height: 100vh;
  width: 100%;
}

.content--affix-text {
  position: relative;
  z-index: 1;
  margin-top: rh(-12);


  .quote-wrapper {
    @include clearfix;

    display: flex;
    flex-wrap: wrap;

    p {
      flex-basis: 100%;
    }

    .quote {
      @include transition(opacity, transform);

      order: 2;
      opacity: 0;
      transform: translate3d(0, 2rem, 0);

      &.visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      strong {
        position: relative;
        display: block;
        padding-top: rh(0.5);
        padding-left: rem(15);
        font-family: $font-family--header;
        font-size: rem(15);
        font-weight: 700;
        line-height: 1.25 !important;
        letter-spacing: 0.02em;

        &::before {
          content: "–";
          position: absolute;
          top: 0;
          left: 0;
          padding-top: rh(0.5);
        }

        span {
          font-weight: 100;
        }
      }
    }
  }

  @include breakpoint(large) {
    .quote-wrapper {
      display: block;

      .quote {
        float: left;
        width: rem(280);
        padding-right: rem(20);
        margin-left: rem(-40);
      }
    }
  }

  @include breakpoint(xlarge) {
    margin-top: rh(-3);

    .quote-wrapper {
      .quote {
        width: rem(320);
        margin-left: rem(-160);
      }
    }
  }

  @include breakpoint(w1280) {
    margin-top: rh(1);
  }

  @include breakpoint(xxlarge) {
    margin-top: rh(-6);
  }
}

.animation--head {
  position: absolute;
  overflow-x: hidden;
  width: 130%;


  .lottie--head {
    @include transition(opacity, transform);

    transform: translate3d(-30%, #{rem(30)}, 0);
    opacity: 0;

    svg {
      @include breakpoint(w1023 down) {
        g > g {
          &:nth-child(15),
          &:nth-child(16) {
            display: none !important;
          }
        }
      }
    }
  }

  &.visible {
    .lottie--head {
      transform: translate3d(-36%, -15%, 0);
      opacity: 1;
    }
  }

  .white-triangle {
    @include transition(transform);

    position: absolute;
    top: 7.5%;
    left: 20%;
    width: 80%;
    height: auto;
    transform: scale(0);
    transform-origin: left;
    transition-delay: 500ms;
    transition-duration: 500ms;

    &.visible {
      transform: scale(1);
    }
  }

  .lottie--brain-text,
  .lottie--view-text {
    @include transition(opacity, transform);

    position: absolute;
    height: auto;
    opacity: 0;
    transform: translate3d(0, #{rem(50)}, 0);

    &.visible {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .lottie--brain-text {
    top: 13%;
    left: -1%;
    width: 30%;
  }

  .lottie--view-text {
    top: 22.5%;
    left: 40%;
    width: 100%;
  }

  @include breakpoint(xlarge) {
    width: 100%;
    margin-top: rh(-10);

    .lottie--head {
      transform: translate3d(-30%, #{rem(100)}, 0);
    }

    &.visible {
      .lottie--head {
        transform: translate3d(-30%, 0, 0);
      }
    }

    .white-triangle {
      top: 22%;
    }

    .lottie--brain-text {
      top: 28%;
      left: 5.5%;
      width: 29%;
    }

    .lottie--view-text {
      top: 36%;
      left: 52%;
      width: 90%;
    }
  }

  @include breakpoint(xxlarge) {
    margin-top: rh(-6);

    .lottie--head {
      width: 60%;
      height: auto;
    }

    .white-triangle {
      top: 5.5%;
      left: 12%;
      width: 88%;
    }

    .lottie--brain-text {
      top: 28.75%;
      left: 4%;
      width: 16%;
    }

    .lottie--view-text {
      top: 33.5%;
      left: 38%;
      width: 90%;
    }
  }
}
