@import "./assets/scss/toolbelt";

.call-to-action {
  @include clearfix;
  @include transition(background-color, transform);

  display: block;
  padding: 0 rem(20);
  margin-bottom: rh(1);
  background-color: $blue-dodger;
  transform: translateY(0);

  &:hover,
  &:focus,
  &:active {
    background-color: lighten($blue-dodger, 10%);
  }

  svg {
    float: right;
    margin-left: rem(10);
  }

  h3 {
    padding-top: rh(0.5);
    padding-bottom: rh(1);
    font-size: rem(20) !important;
  }

  p {
    padding-bottom: rh(0.5);
    margin: 0 !important;
    font-weight: 700;
    color: $white;
  }

  @include breakpoint(xlarge) {
    &.up {
      transform: translateY(-200%);
    }
  }
}


.cta-socials {
  padding-top: rh(1.5);
  margin: 0 auto rh(1);
  text-align: center;

  span {
    display: inline-block;
    margin-right: rem(18);
  }

  button {
    width: rem(48);
    height: rem(48);
    padding: 0 !important;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 65%;
      height: auto;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  .fb {
    background-color: $blue-facebook;
  }

  .tw {
    background-color: $blue-twitter;
  }

  .mail {
    background-color: $pink-manhattan;
  }

  @include breakpoint(large) {
    margin-bottom: rh(2);
  }

  @include breakpoint(xlarge) {
    margin-bottom: rh(2.5);
  }

  @include breakpoint(xxlarge) {
    margin-bottom: rh(3.5);
  }
}
