@import "./assets/scss/toolbelt";

.hero-area {
  position: relative;

  img {
    padding-bottom: rh(1);
  }

  .hero-content {
    position: relative;
  }

  .starting-letter {
    float: left;
    font-family: $font-family--header;
    font-size: rem(50);
    line-height: 0.8;
  }

  .lottie--font-select-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: rh(12);

    .lottie--font-select {
      position: absolute;
      width: auto !important;
      height: rh(12) !important;
      transform: translate3d(-58%, 0, 0);

      > svg {
        width: auto !important;
      }
    }
  }

  @include breakpoint(large) {
    .first-paragraph {
      width: 70%;
    }

    .lottie--font-select-wrapper {
      position: absolute;
      top: rh(6);
      z-index: -1;
      width: 100%;

      .lottie--font-select {
        left: 50%;
        height: rh(14) !important;
      }
    }
  }

  @include breakpoint(xlarge) {
    h1 {
      margin-top: rh(1.5);
      margin-left: rem(-120);
      margin-right: rem(-120);
    }

    .first-paragraph {
      width: 100%;
    }

    .lottie--font-select-wrapper {
      .lottie--font-select {
        transform: translate3d(-48%, 0, 0);
      }
    }
  }

  @include breakpoint(xxlarge) {
    .lottie--font-select-wrapper {
      padding-bottom: rh(30);

      .lottie--font-select {
        left: 0;
        width: 100% !important;
        height: auto !important;
        transform: translate3d(0, 0, 0);

        > svg {
          width: 100% !important;
        }
      }
    }
  }
}
