@import "./assets/scss/toolbelt";

.hero-area {
  position: relative;

  img {
    padding-bottom: rh(1);
  }

  p {
    span.special-font {
      font-family: $font-family--subheadline;
      font-size: 0.93em;
    }
  }

  .first-paragraph {
    padding-top: rh(1.5);
  }

  .hero-content {
    position: relative;
  }

  .starting-letter {
    float: left;
    font-family: $font-family--header;
    font-size: rem(50);
    line-height: 0.8;
  }

  .lottie--font-select-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: rh(12);

    .lottie--font-select {
      position: absolute;
      width: auto !important;
      height: rh(12) !important;
      transform: translate3d(-58%, 0, 0);

      > svg {
        width: auto !important;
      }
    }
  }

  .logo-adobe {
    display: none;
  }

  .social-sharing {
    display: none;
  }

  @include breakpoint(large) {
    .first-paragraph {
      width: 70%;
      padding-top: rh(2);
    }

    .lottie--font-select-wrapper {
      position: absolute;
      top: rh(6);
      z-index: -1;
      width: 100%;

      .lottie--font-select {
        left: 50%;
        height: rh(14) !important;
      }
    }
  }

  @include breakpoint(xlarge) {
    h1 {
      margin-top: rh(1.5);
      margin-left: rem(-120);
      margin-right: rem(-120);
    }

    .first-paragraph {
      width: 100%;
      padding-top: rh(3.5);
    }

    .lottie--font-select-wrapper {
      top: rh(7);

      .lottie--font-select {
        transform: translate3d(-48%, 0, 0);
      }
    }

    .wrapper--social-sharing {
      position: relative;
    }

    .logo-adobe {
      position: absolute;
      top: rem(210);
      left: rem(-120);
      display: block;

      svg {
        width: rem(70);
        height: auto;
      }
    }

    .social-sharing {
      position: absolute;
      top: rem(360);
      left: rem(-109);
      display: block;

      span {
        display: block;
      }

      button {
        width: rem(48);
        height: rem(48);
        padding: 0 !important;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 65%;
          height: auto;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      .fb {
        background-color: $blue-facebook;
      }

      .tw {
        background-color: $blue-twitter;
      }
    }
  }

  @include breakpoint(xxlarge) {
    .lottie--font-select-wrapper {
      top: rh(9);
      padding-bottom: rh(30);

      .lottie--font-select {
        left: 0;
        width: 100% !important;
        height: auto !important;
        transform: translate3d(0, 0, 0);

        > svg {
          width: 100% !important;
        }
      }
    }

    .logo-adobe {
      top: rem(260);
    }

    .social-sharing {
      top: rem(418);
    }
  }
}
