@import "./assets/scss/toolbelt";

.hero-area {
  position: relative;

  img {
    padding-bottom: rh(1);
  }

  .starting-letter {
    float: left;
    font-family: $font-family--header;
    font-size: rem(50);
    line-height: 0.8;
  }

  .lottie--question {
    display: none;
  }

  @include breakpoint(large) {
    .lottie--question {
      position: absolute;
      top: 54%;
      left: 0;
      z-index: -1;
      display: block;
    }
  }

  @include breakpoint(xlarge) {
    h1 {
      margin-top: rh(1.5);
      margin-left: rem(-120);
      margin-right: rem(-120);
    }

    .lottie--question {
      top: auto;
    }
  }
}
