@import "./assets/scss/toolbelt";

.img-gen-section {
  position: relative;
  overflow: hidden;
  z-index: 1;

  @include breakpoint(xlarge) {
    padding-bottom: rh(5);
  }

  @include breakpoint(xxlarge) {
    padding-bottom: rh(6);
  }
}

