@import "./assets/scss/toolbelt";

.section--typewriter {
  position: relative;
  margin-top: rh(4);

  .lottie--typewriter-wrapper {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    transform: translate3d(-37%, -44%, 0);
  }

  .lottie--typewriter {
    @include transition(opacity, transform);

    width: 300%;
    height: auto;
    transform: translate3d(0, #{rem(50)}, 0);
    opacity: 0;

    &.visible {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .placeholder--typewriter {
    height: calc(100vw * 0.4);
  }

  .quote-wrapper {
    display: flex;
    flex-wrap: wrap;

    p {
      flex-basis: 100%;
    }

    .quote {
      @include transition(opacity, transform);

      order: 2;
      transform: translate3d(0, #{rem(50)}, 0);
      opacity: 0;

      &.visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }

  .placeholder--comp-book {
    height: calc(100vw * 0.3);
  }

  .lottie--comp-book-wrapper {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    z-index: -1;
    width: 100%;
    transform: translate3d(0, -28%, 0);
  }

  .lottie--comp-book {
    @include transition(opacity, transform);

    width: 150%;
    height: auto;
    transform: translate3d(-30%, #{rem(50)}, 0);
    opacity: 0;

    &.visible {
      transform: translate3d(-30%, 0, 0);
      opacity: 1;
    }
  }

  .lottie--vector-wrapper {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    z-index: -1;
    display: none;
    width: 100%;
    transform: translate3d(0, 10%, 0);
  }

  .lottie--vector {
    @include transition(opacity, transform);

    width: rem(500);
    height: auto;
    transform: translate3d(calc(-50% - #{rem(100)}), 0, 0);
    opacity: 0;

    &.visible {
      transform: translate3d(-50%, 0, 0);
      opacity: 1;
    }
  }

  @include breakpoint(medium) {
    .lottie--typewriter-wrapper {
      transform: translate3d(-10%, -42%, 0);
    }

    .lottie--typewriter {
      width: 180%;
    }

    .placeholder--typewriter {
      height: calc(100vw * 0.25);
    }
  }

  @include breakpoint(medium) {
    .quote-wrapper {
      display: block;
      margin-right: rem(-40);

      .quote {
        float: right;
        width: rem(320);
        padding-left: rem(20);
      }
    }
  }

  @include breakpoint(xlarge) {
    .lottie--typewriter-wrapper {
      transform: translate3d(-30%, -32%, 0);
    }

    .lottie--typewriter {
      width: 150%;
    }

    .placeholder--typewriter {
      height: calc(100vw * 0.05);
    }

    .quote-wrapper {
      margin-right: rem(-140);
    }

    .placeholder--comp-book {
      height: 0;
    }

    .lottie--comp-book-wrapper {
      transform: translate3d(0, -20%, 0);
    }

    .lottie--comp-book {
      width: 110%;
      transform: translate3d(0, #{rem(50)}, 0);

      &.visible {
        transform: translate3d(0, 0, 0);
      }
    }

    .lottie--vector-wrapper {
      display: block;
    }
  }

  @include breakpoint(w1280) {
    .lottie--typewriter-wrapper {
      transform: translate3d(-15%, -32%, 0);
    }

    .lottie--typewriter {
      width: 120%;
    }

    .placeholder--typewriter {
      height: 0;
    }

    .lottie--vector-wrapper {
      transform: translate3d(0, 20%, 0);
    }

    .lottie--vector {
      width: rem(700);
    }
  }

  @include breakpoint(xxlarge) {
    .lottie--typewriter-wrapper {
      transform: translate3d(-10%, -32%, 0);
    }

    .lottie--typewriter {
      width: 110%;
    }

    .lottie--vector-wrapper {
      transform: translate3d(0, 70%, 0);
    }
  }
}
