@import "./assets/scss/toolbelt";

$brand-primary: $black;
$body-bg: #111;

$color-range: $black;
$border-range: rem(2);
$width-range: rem(35);

@mixin track() {
  height: rem(4);
  background: $transparent;
  cursor: pointer;
}

@mixin thumb() {
  position: relative;
  z-index: 3;
  width: rem(50);
  height: rem(40);
  outline: rem(2) dashed $red-firebrick;
  cursor: pointer;
}

.range-slider {
  position: absolute;
  top: rem(30);
  left: 50%;
  display: inline-block;
  outline: rem(2) dashed #00f;
  transform: translate3d(0%, 0, 0) rotate(90deg);
  transform-origin: left;
  user-select: none;

  .slider-wrapper.mp & {
    top: rem(68);
  }

  input {
    display: inline-block;
    width: rem(160);
    height: $width-range + ($border-range * 3);
    margin: 0 rem(-5);
    vertical-align: middle;
    background: none;
    /* stylelint-disable */
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }
    // webkit
    &::-webkit-slider-runnable-track {
      @include track();
    }

    &::-webkit-slider-thumb {
      @include thumb();

      margin-top: $border-range;
      transform: translateY(-50%);
      -webkit-appearance:none;
    }
    // firefox
    &::-moz-range-track {
      @include track();
    }

    &::-moz-range-thumb {
      @include thumb();

      -webkit-appearance:none;
    }
    // ie
    &::-ms-track {
      @include track();
    }

    &::-ms-thumb {
      @include thumb();

      transform: translateY(0%);
    }
    /* stylelint-enable */
  }

  @include breakpoint(xlarge) {
    .slider-wrapper.mp & {
      top: rem(30);
    }
  }
}
