@import "./assets/scss/toolbelt";

.fade-font-result-enter-active,
.fade-font-result-leave-active {
  @include transition(opacity, transform);

  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

.fade-font-result-enter,
.fade-font-result-leave-to {
  opacity: 0;
  transform:  translate3d(0, #{rem(-30)}, 0) scale(0.2);
}

.typomatcher-widget {
  position: relative;
  margin-bottom: rh(2);
  text-align: center;

  .typomatcher-header {
    padding-bottom: rh(0.5);
    padding-left: 35%;
  }

  .typomatcher-row {
    position: relative;
    z-index: -1;
    height: rem(50);
    border-left: rem(5) solid $black;
    margin-bottom: rh(0.5);
    background-color: $white;

    svg {
      position: absolute;
      top: 50%;
      left: rem(10);
      width: auto;
      transform: translate3d(0, -50%, 0);
    }

    &.bs {
      svg {
        height: rem(30);
      }
    }

    &.mp {
      svg {
        height: rem(40);
      }
    }

    &.bau {
      svg {
        height: rem(25);
      }
    }
  }

  .slider-wrapper {
    position: relative;
    z-index: 1;
    display: inline-block;
    border: rem(5) solid $black;
    margin-right: rem(20);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: rem(5);
      height: rem(5);
      background-color: $body-bgc;
    }

    .slider-line {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: -1;
      display: block;
      width: rem(5);
      height: rem(192);
      border: rem(1) solid $black;
      background-color: $black;
      transform: translate3d(-100%, 0, 0);
    }

    label {
      display: block;
      padding: rem(4) rem(10);
      font-family: $font-family--body;
      font-weight: 700;
      line-height: 1;
    }
  }

  .slider-button {
    position: absolute;
    top: calc(100% + #{rem(20)});
    left: 50%;
    z-index: -1;
    width: rem(50);
    height: auto;
    transform: translate3d(-50%, 0, 0);
  }

  button {
    margin-top: rh(1);
  }

  .result-wrapper {
    p {
      padding: 0;
      margin: 0;
      color: $red-pome;
      font-weight: 700;
      font-size: rem(23);
      line-height: 1;

      span {
        margin-left: rem(5);
        font-size: 0.5em;
      }
    }

    .result {
      font-size: rem(100);
    }
  }

  @include breakpoint(xlarge) {
    .result-wrapper {
      position: absolute;
      top: 40%;
      left: 100%;
      min-width: rem(240);
      padding-left: rem(40);
      transform: translate3d(0, -50%, 0);

      p {
        text-align: left;
      }

      .result + p {
        padding-left: rem(5);
      }
    }
  }
}
